name: publish

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        cache: pip
        python-version: '3.x'
    - name: Install build tools
      run: |
        pip install -U pip
        pip install build
    - name: Build package
      run: |
        pyproject-build --outdir dist/
    - name: Upload package
      uses: actions/upload-artifact@v6
      with:
        name: packages
        path: dist/
        if-no-files-found: error
        compression-level: 0

  test:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6
    - name: Download package
      uses: actions/download-artifact@v7
      with:
        name: packages
        path: dist/
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        cache: pip
        python-version: '3.x'
    - name: Update pip
      run: pip install -U pip
    - name: Install package and test requirements
      run: pip install --requirement ./tests/requirements.txt pytest dist/*.whl
    - name: Run unit-tests
      run: pytest -vvra

  release:
    runs-on: ubuntu-latest
    needs: [build, test]
    permissions:
      contents: read
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/p/proxpi
    steps:
    - name: Download package
      uses: actions/download-artifact@v7
      with:
        name: packages
        path: dist/
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        print-hash: true
        verbose: true
