name: publish-docker

on:
  release:
    types: [created]
  push:
    branches:
      - christian-td-master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build image
      run: |
        docker buildx create --name docker-builder
        docker buildx use docker-builder
        docker buildx build \
          --platform linux/amd64,linux/arm64,linux/arm/v7 \
          --tag "epicwink/proxpi:${{ github.ref_name }}" \
          --push .
        docker buildx rm docker-builder
    - name: Login to DockerHub
      run: >
        echo ${{ secrets.DOCKERHUB_PASSWORD }}
        | docker login --password-stdin -u epicwink
    - name: Publish image
      if: github.event_name == 'release'
      run: docker push "epicwink/proxpi:${{ github.ref_name }}"
    - name: Check tag
      id: check-tag
      run: |
        if [[ "${{ github.ref_name }}" =~ ^v\d+\.\d+\.\d+$ ]]; then
            echo ::set-output name=match::true
        fi
    - name: Publish latest image
      if: github.event_name == 'release' && steps.check-tag.outputs.match == 'true'
      run: |
        docker tag "epicwink/proxpi:${{ github.ref_name }}" epicwink/proxpi:latest
        docker push epicwink/proxpi:latest
